<header id="masthead" class="site-header outer">
  <div class="inner">
    <div class="site-header-inside">
      <div class="site-branding">
        {% assign logo_img_is_not_empty = site.header.logo_img | is_not_empty %}
        {% if logo_img_is_not_empty %}
        <p class="site-logo"><a href='{{ '/' | relative_url }}'><img src="{{ site.header.logo_img | relative_url }}" alt="{{ site.header.logo_img_alt }}" /></a></p>
        {% endif %}
        {% if page.layout == 'landing' or page.layout == 'blog' %}
        <h1 class="site-title{% assign logo_img_is_not_empty = site.header.logo_img | is_not_empty %}{% if logo_img_is_not_empty %} screen-reader-text{% endif %}"><a href='{{ '/' | relative_url }}'>{{ site.title }}</a></h1>
        {% else %}
        <p class="site-title{% assign logo_img_is_not_empty = site.header.logo_img | is_not_empty %}{% if logo_img_is_not_empty %} screen-reader-text{% endif %}"><a href='{{ '/' | relative_url }}'>{{ site.title }}</a></p>
        {% endif %}
      </div><!-- .site-branding -->
      {% if site.header.nav_links and site.header.has_nav %}
      <nav id="main-navigation" class="site-navigation" aria-label="Main Navigation">
        <div class="site-nav-inside">
          <button id="menu-close" class="menu-toggle"><span class="screen-reader-text">Open Menu</span><span class="icon-close" aria-hidden="true"></span></button>
          <ul class="menu">
            {% for action in site.header.nav_links %}
              {% assign page_url = page.url | trim: '/' %}
              {% assign action_url = action.url | trim: '/' %}
              {% assign action_style = action.style | default: 'link' %}
              <li class="menu-item{% if page_url == action_url %} current-menu-item{% endif %}{% if action_style != 'link' %} menu-button{% endif %}">
                
                {% include action.html action=action %}
              </li>
            {% endfor %}
          </ul>
        </div>
      </nav><!-- .site-navigation -->
      <button id="menu-open" class="menu-toggle"><span class="screen-reader-text">Close Menu</span><span class="icon-menu" aria-hidden="true"></span></button>
      {% endif %}
    </div>
  </div>
</header><!-- .site-header -->
